<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>380284191115-fa8c11595b87hfvqg80ti5d9493e4ig4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380284191115-fa8c11595b87hfvqg80ti5d9493e4ig4</string>
	<key>API_KEY</key>
	<string>AIzaSyDymbn2Lk3SVyFWIvAhXtMKGH5AU1bpx4U</string>
	<key>GCM_SENDER_ID</key>
	<string>380284191115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CZ.Demand-Driver</string>
	<key>PROJECT_ID</key>
	<string>propane-nomad-707</string>
	<key>STORAGE_BUCKET</key>
	<string>propane-nomad-707.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380284191115:ios:24ac3738eb30e36c</string>
	<key>DATABASE_URL</key>
	<string>https://propane-nomad-707.firebaseio.com</string>
</dict>
</plist>